/* Laptops / Desktops */
@media(max-height:580px){
   header h1.h1style{
      font-size:24px;
   }
}
/* @media(max-width:220px){
  div .projectBoxes p{
      width:100%;
      height: 100%;
      margin:1px;
      padding:1px;
      font-size:12px;
   }
} */
@media(max-height:330px)and(max-width:300px){
   div.contactAbout{
      display:flex;
      justify-content: center;
      flex-direction: row;
   }
   .contactAbout{
      margin:2px;
      width:80%;
      
   }
   div.contactAbout div#contactme{
      width:40%;
 
   }
   #contactme{
      width:30%;
      margin:2px;
      border:2px solid yellow;
   }
     div div#sec.projCon{
      /* display:flex;
      flex-direction: row;
      justify-items: center; */
      /* height:60%; */
      width:267px;
      /* border-left:2px solid black; */
   }
   div section#sec.middle-sec div{
      /* width:75%; */
      width: 257px;
      /* margin:2px; */
      background-color:rgb(241, 238, 238);
      /* width:25%; */
      /* height: 560px; */
   }

  header nav{
      display: flex;
      flex-direction: row;
      /* height: 100%; */
   }
   header nav.nav{
       /* align-items: center; */
      /* margin:11px; */
      /* border: 2px solid black; */
      /* width:94vw; */
      /* width:96%; */
      height:72px;
      background: rgb(5,4,77);
   background: linear-gradient(90deg, rgba(5,4,77,1) 1%, 
   rgba(9,9,121,1) 21%, 
   rgba(0,212,255,1) 53%, rgba(5,103,183,1) 65%,
   rgba(2,0,36,1) 89%);
   }
   header{
       display: flex;
       flex-direction: column;
       justify-content: center;
       /* width:98%; */
       height: 102px;
       background: rgb(164,170,175);
    background: linear-gradient(5deg, rgba(164,170,175,1) 
    0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
    rgba(0,212,255,1) 100%, rgba(121,28,9,0.9684222565979517) 100%);
    
       margin:1px;
    }
    .nav h1{
      text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0em blue;
      color: white;
      font: 1rem Georgia, serif;
   }
   nav > button.navK{
 
      justify-self: stretch;
   }

   button.navK{
      border-radius: 8px;
     box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
     background-color: black;
     text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
     color: orange;
     font-family:Arial, serif;
     font-size:1.5rem;
     margin:12px;
  }
  button.navK:hover{
     box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
     background-color: green;
     text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
     color: orange;
     font-size:1.5rem;
     font-family:Arial, serif; 
     margin:12px;
  }
}
@media(max-width:300px){
   section#sec.middle-sec div.projCon{
      /* display:flex;
      flex-direction: row;
      justify-items: center; */
      /* height:900px; */
      width:254px;
      /* border:2px solid black; */
   }
   
}
@media(max-width:670px){

  section#sec.middle-sec div.projCon{
      /* display:flex;
      flex-direction: row;
      justify-items: center; */
      /* height:900px; */
      width:70%;
      /* border:2px solid black; */
   }
       section#sec.middle-sec div{
      display:flex;
      flex-direction: column;
      align-items:center;
      /* flex-flow: wrap; */


   }
   /* section#sec.middle-sec div.projCon div.projectBoxes{

      display:flex;
      flex-direction: row;
      justify-items: center;
   } */
}
@media(max-width:870px){
   .abconh1{
      width:30%;
      color:black;
   }
   .abcon1{
      display: flex;
      flex-direction: row;
   }
   .abcon1 p{
      margin:8px;
   }

   div.contactAbout{
      display:flex;
      align-items: center;
      flex-direction: column;
   }
   .contactAbout p{
      width:55%;

   }
   /* .contactAbout{
      margin:2px;
      /* width:0%; */
      /* border:solid 2px black; */
      
    */
   div.contactAbout div#contactme{
      width:40%;
 
   }
   #contactme{
      width:30%;
      margin:2px;
      /* border:2px solid yellow; */
   }
 .h1style{
      color:black;
        font-size: 26px;
    }
    section.middle-sec {
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-flow: wrap;


   }
   section.middle-sec{
      /* width:75%; */
      width: 100%;
      /* margin:2px; */
      background-color:rgb(241, 238, 238);
      /* width:25%; */
      height: 100%;
   }

   /* section div div {
      display:flex;
      flex-direction: column;
      justify-content: center;
      background-color: yellow;
      width:30%
   } */
   /* section div div.projectBoxes{
      display:flex;
      flex-direction: row;
      justify-content: center;
      

   } */
    section div.projCon div{
      display: flex;
      flex-direction: column;
      /* justify-content:space-evenly; */
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width:250px;
    }
    div div.projCon{
      /* display:flex;
      flex-direction: row;
      justify-items: center; */
      /* height:900px; */
      width:40%;
      /* border:2px solid black; */
   }
   div div.projectBoxes{
      height:422px;
      width:242px;
      border: solid grey 2px;
      margin:2px;
      padding:2px;

   }
   .projectBoxes button{
      width:100px;
      height:20px;
   }
   .projectBoxes b{
      width:100px;
      height:50px;
   }
   .projectBoxes img{
      width:100px;
      height:150px;
   }
   .projectBoxes p{
      width:100%;
      height: 100px;
      margin:1px;
      padding:1px;
   }
   div.projectBoxes p{
      width:30%;
      height:100%;
      /* border: solid blue 2px; */
   }
}
@media(min-width:680px){
    iframe {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    div > iframe{
        width:100%;
        height:100vh;
    }
}

@media(min-width:870px){
   .center{
      display:flex;
      flex-direction:row;
      justify-content: center;
   }
   .h1style{
      color:black;
        font-size: 26px;
    }
   .abconh1{
      width:30%;
      color:black;
   }
   .abcon1{
      display: flex;
      flex-direction: row;
   }
   .abcon1 p{
      margin:8px;
   }

   div.contactAbout{
      display:flex;
      align-items: center;
      flex-direction: column;
   }
   .contactAbout p{
      width:55%;

   }
   /* .contactAbout{
      margin:2px;
      /* width:0%; */
      /* border:solid 2px black; */
      
    */
   div.contactAbout div#contactme{
      width:40%;
 
   }
   #contactme{
      width:30%;
      margin:2px;
      /* border:2px solid yellow; */
   }
   section.middle-sec{
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-flow: wrap;
      flex-wrap: wrap;


   }
   section.middle-sec{
      /* width:75%; */
      width: 100%;
      /* margin:2px; */
      background-color:rgb(241, 238, 238);
      /* width:25%; */
      height: 100%;
   }

   section div div {
      /* display:flex;
      flex-direction: row;
      justify-content: center; */
      background-color: yellow;
      /* width:30% */
   }
   section div div.projectBoxes{
      display:flex;
      flex-direction: row;
      justify-content: center;
      flex-flow: wrap;
      flex-wrap:wrap;
      

   }
    section div.projCon div{
      display: flex;
      flex-direction: column;
      /* justify-content:space-evenly; */
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width:250px;
    }
    div.projCon{
      /* display:flex;
      flex-direction: row;
      justify-items: center; */
      display:flex;
      
      flex-wrap:wrap;
      width:30%;
      /* border:2px solid black; */
   }
   div div.projectBoxes{
      height:232px;
      width:232px;
      border: solid grey 2px;
      margin:2px;
      padding:2px;

   }
   .projectBoxes button{
      width:100px;
      height:20px;
   }
   .projectBoxes b{
      width:100px;
      height:50px;
   }
   .projectBoxes img{
      width:100px;
      height:150px;
   }
   .projectBoxes p{
      width:100%;
      height: 100px;
      margin:1px;
      padding:1px;
   }
   div.projectBoxes p{
      width:30%;
      height:100%;
      /* border: solid blue 2px; */
   }
    nav{
        display: flex;
        flex-direction: row;
        height: 100%;
     }
     .nav{
         align-items: center;
        /* margin:11px; */
        /* border: 2px solid black; */
        /* width:94vw; */
        /* width:96%; */
        height:20vh;
        background: rgb(5,4,77);
     background: linear-gradient(90deg, rgba(5,4,77,1) 1%, 
     rgba(9,9,121,1) 21%, 
     rgba(0,212,255,1) 53%, rgba(5,103,183,1) 65%,
     rgba(2,0,36,1) 89%);
     }
     header{
         display: flex;
         flex-direction: column;
         justify-content: center;
         /* width:98%; */
         height: 30vh;
         background: rgb(164,170,175);
      background: linear-gradient(5deg, rgba(164,170,175,1) 
      0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
      rgba(0,212,255,1) 100%, rgba(121,28,9,0.9684222565979517) 100%);
      
         margin:1px;
      }
     .nav h1{
        text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0em blue;
        color: white;
        font: 2.2rem Georgia, serif;
     }
     nav > button.navK{
   
        justify-self: stretch;
     }
     button.navK{
         border-radius: 8px;
        box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
        background-color: black;
        text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
        color: orange;
        font-family:Arial, serif;
        font-size:2rem;
        margin:12px;
     }
     button.navK:hover{
        box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
        background-color: green;
        text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
        color: orange;
        font-size:2rem;
        font-family:Arial, serif; 
        margin:12px;
     }

     a{
        color:inherit;
        text-decoration: none;
     }
     a:visited{
        text-decoration: none;
        color:inherit;
     }
     a:after{
        color:inherit;
        text-decoration: none;
     }
     button.K:hover{
        font-weight: 600;
        color:black;
        background: green;
     
     }
     button.K{
        font-style:Arial, serif;
        text-shadow: 1px 1px 12px blue, 10em 10em 11em black, 0em 0em 0em blue;
        font-size:2rem;
        font-weight: 600;
        color:black;
        background: rgb(203,118,38);
     background: linear-gradient(5deg, rgba(203,118,38,1) 0%,
     rgba(137,173,92,1) 34%, rgba(180,57,32,0.9022852793461135) 100%);
     }
     .K{
        color:black;
        align-self:center;
        width:15rem;
        height: 6rem;
     }

     footer{

        display: flex;
        justify-content: center;
    }
    footer > nav{
       width:100%;
       height: 100%;
       background: rgb(164,170,175);
    background: linear-gradient(5deg, rgba(164,170,175,1) 
    0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
    rgb(98, 131, 138) 100%, rgba(121,28,9,0.9684222565979517) 100%);
       margin:1px;
       
    }
    /* html > body > footer > p.see{
       color:black;
       font-weight:700;
       font-size:2rem;
       text-align: center;
       text-justify: center;
    } */
}

@media(max-width:870px){
    nav{
        display: flex;
        flex-direction: row;
        height: 100%;
     }
     .nav{
         /* align-items: center; */
        /* margin:11px; */
        /* border: 2px solid black; */
        /* width:94vw; */
        /* width:96%; */
        height:20vh;
        background: rgb(5,4,77);
     background: linear-gradient(90deg, rgba(5,4,77,1) 1%, 
     rgba(9,9,121,1) 21%, 
     rgba(0,212,255,1) 53%, rgba(5,103,183,1) 65%,
     rgba(2,0,36,1) 89%);
     }
     header{
         display: flex;
         flex-direction: column;
         justify-content: center;
         /* width:98%; */
         height: 30vh;
         background: rgb(164,170,175);
      background: linear-gradient(5deg, rgba(164,170,175,1) 
      0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
      rgba(0,212,255,1) 100%, rgba(121,28,9,0.9684222565979517) 100%);
      
         margin:1px;
      }
   .nav h1{
        text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0em blue;
        color: white;
        font: 2.2rem Georgia, serif;
     }
     nav > button.navK{
   
        justify-self: stretch;
     }

     button.navK{
        border-radius: 8px;
       box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
       background-color: black;
       text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
       color: orange;
       font-family:Arial, serif;
       font-size:1.5rem;
       margin:12px;
    }
    button.navK:hover{
       box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
       background-color: green;
       text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
       color: orange;
       font-size:1.5rem;
       font-family:Arial, serif; 
       margin:12px;
    }

    a{
       color:inherit;
       text-decoration: none;
    }
    a:visited{
       text-decoration: none;
       color:inherit;
    }
    a:after{
       color:inherit;
       text-decoration: none;
    }
    /* button.K:hover{
       font-weight: 300;
       color:black;
       background: green;
    
    }
    button.K{
       font-style:Arial, serif;
       text-shadow: 1px 1px 12px blue, 10em 10em 11em black, 0em 0em 0em blue;
       font-size:2rem;
       font-weight: 300;
       color:black;
       background: rgb(203,118,38);
    background: linear-gradient(5deg, rgba(203,118,38,1) 0%,
    rgba(137,173,92,1) 34%, rgba(180,57,32,0.9022852793461135) 100%);
    } */

    footer{

       display: flex;
       justify-content: center;
   }
   footer > nav{
    align-items: center;
      /* width:100%; */
      height: 100%;
      background: rgb(164,170,175);
   background: linear-gradient(5deg, rgba(164,170,175,1) 
   0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
   rgb(98, 131, 138) 100%, rgba(121,28,9,0.9684222565979517) 100%);
      margin:1px;
      
   }
   /* html > body > footer > p.see{
      color:black;
      font-weight:700;
      font-size:2rem;
      text-align: center;
      text-justify: center;
   } */
}
@media(max-height:380px){
   iframe {
      display: flex;
      flex-direction: column;
      align-content: center;
  }
  div > iframe{
      width:100%;
      height:160vh;
  }
}
@media(max-width:680px){
    iframe {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    div > iframe{
        width:100%;
        height:100vh;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
     }
     .nav{
         align-items: center;
        /* margin:11px; */
        /* border: 2px solid black; */
        /* width:94vw; */
        /* width:96%; */
        height:100%;
        background: rgb(5,4,77);
     background: linear-gradient(90deg, rgba(5,4,77,1) 1%, 
     rgba(9,9,121,1) 21%, 
     rgba(0,212,255,1) 53%, rgba(5,103,183,1) 65%,
     rgba(2,0,36,1) 89%);
     }
     header{
         display: flex;
         flex-direction: column;
         justify-content: center;
         /* width:98%; */
         height: 100%;
         background: rgb(164,170,175);
      background: linear-gradient(5deg, rgba(164,170,175,1) 
      0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
      rgba(0,212,255,1) 100%, rgba(121,28,9,0.9684222565979517) 100%);
      
         margin:1px;
      }
      h1{
        text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0em blue;
        color: white;
        font: 2.2rem Georgia, serif;
     }
     nav > button.navK{
   
        justify-self: stretch;
     }

     button.navK{
        border-radius: 8px;
       box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
       background-color: black;
       text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
       color: orange;
       font-family:Arial, serif;
       font-size:1.5rem;
       margin:12px;
    }
    button.navK:hover{
       box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
       background-color: green;
       text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
       color: orange;
       font-size:1.5rem;
       font-family:Arial, serif; 
       margin:12px;
    }

    a{
       color:inherit;
       text-decoration: none;
    }
    a:visited{
       text-decoration: none;
       color:inherit;
    }
    a:after{
       color:inherit;
       text-decoration: none;
    }
    /* button.K:hover{
       font-weight: 300;
       color:black;
       background: green;
    
    }
    button.K{
       font-style:Arial, serif;
       text-shadow: 1px 1px 12px blue, 10em 10em 11em black, 0em 0em 0em blue;
       font-size:2rem;
       font-weight: 300;
       color:black;
       background: rgb(203,118,38);
    background: linear-gradient(5deg, rgba(203,118,38,1) 0%,
    rgba(137,173,92,1) 34%, rgba(180,57,32,0.9022852793461135) 100%);
    } */

    footer{

       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   footer > nav{
    align-items: center;
      /* width:100%; */
      height: 100%;
      background: rgb(164,170,175);
   background: linear-gradient(5deg, rgba(164,170,175,1) 
   0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
   rgb(98, 131, 138) 100%, rgba(121,28,9,0.9684222565979517) 100%);
      margin:1px;
      
   }
   /* html > body > footer > p.see{
      color:black;
      font-weight:700;
      font-size:2rem;
      text-align: center;
      text-justify: center;
   } */
}